* {
  box-sizing: border-box; 
}

html {
  font-size: 10px;
  font-family: Georgia, serif; 
}

strong {
  font-weight: bold;
}

/* Begin menu section */

.name {
  position: absolute;
  left: 20px;
  bottom: 18px;
  color: #5F666B;
  font-size: 18px;
}


.main-menu {
  background-color: #95C8F5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  border-bottom: 7px solid #44A1F2;
  z-index: 1000;
}

.menu-item {
  background: none;
  border: none;
  display: inline-block;
  text-align: center;
}

.menu-item a {
  text-decoration: none;
  display: inline-block;
  width: 130px;
  background-color: transparent;
  padding: 10px 10px 20px 10px;
  margin: 0 0 -1px 0px;
  transition: all 0.2s;
}

.menu-item a:hover {
  font-weight: 400;
  background-color: #44A1F2;
  transition: all 0.2s;
}

.menu-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  font-size: 2rem;
  font-weight: 300;
}

.search {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 18px;
}

#SearchField {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #64798C;
  color: #fff;
  width: 185px;
}

#SearchField:focus {
  outline: none;
}

.search-field {
  position: absolute;
  margin-top: 8px;
  margin-left: -185px;
  font-size: 14px;
  transition: margin-top 0.2s, font-size 0.2s;
  color: #64798C;
}

.search-icon-label i {
  color: #64798C;
  margin-left: 10px;
  font-size: 20px;
  border: 1px solid #64798C;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

#SearchIcon {
  display: none;
}

#SearchField:focus + label,
#SearchField:valid + label {
  margin-top: -12px;
  margin-left: -185px;
  font-size: 12px;
  color: #fff;
  transition: margin-top 0.5s, font-size 0.5s;
}

/* Begin Content section */
.section--title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 100;
    color: #3E4651;
}

.section--title-position-f {
	position: relative;
	padding-top: 160px;
}

.section--title-position {
	position: relative;
	padding-top: 60px;
}

.section--title-position-l {
	position: relative;
	padding-top: 180px;
}


.section-text {
    position: relative;
	padding-top: 30px;
}

.section-text p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100; 
}

/* Skill */
.skills-wrapper {
  width: 770px;
  height: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

.skill-meters {
  position: relative;
  padding-top: 5px;
}

.fe-meter {
  width: 76%;
  background-color: #FB5E5D;
  color: #fff;
  padding: 5px 5px 5px 15px;
  float: left;
  text-align: left;
  border-radius: 5px 0px 0 5px;
}

.be-meter {
  width: 24%;
  background-color: #4A6FEB;
  color: #fff;
  text-align: right;
  padding: 5px 15px 5px 5px;
  float: right;
  border-radius: 0 5px 5px 0;
}

.bar-graph_container {
  padding-top: 23px;
  width: 360px;
  height: 250px;
  border-bottom: 1px solid #bbb;
}

.display-inline {
  display: inline-block;
}

.display-block {
  display: block;
  margin: auto auto;
}

.fe-graph {
  position: relative;
  left: 0;
  top: 30px;
}

.be-graph {
  position: relative;
  left: 20px;
  top: 30px;
}

.graph-title {
  position: relative;
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.fe-graph > .graph-title {
  color: #FB5E5D;
}

.be-graph > .graph-title {
  color: #4A6FEB;
}

.bar-graph_levels {
  display: inline-block;
  width: 70px;
  height: 160px;
  top: -90px;
  text-align: right;
  position: relative;
}

.bar-graph_level {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
}

.bar-graph_bars {
  display: inline-block;
  position: relative;
  left: 70px;
  top: -23px;
  transform: rotate(-90deg);
}

.bar-graph_bars-b {
  display: inline-block;
  position: relative;
  left: 110px;
  top: 25px;
  transform: rotate(-90deg);
}

.bar-graph_bar {
  height: 35px;
  border-radius: 0 3px 3px 0;
  margin-bottom: 22px;
  position: relative;
}

.level-1 {
  width: 40px;
}

.level-2 {
  width: 85px;
}

.level-3 {
  width: 133px;
}

.level-4 {
  width: 185px;
}

.pink {
  background-color: #FA8CB0;
}

.orange {
  background-color: #FFAD41;
}

.blue {
  background-color: #38BAF0;
}

.green {
  background-color: #69D12B;
}

.yellow {
  background-color: #EFE210;
}

.bar-graph_items {
  position: relative;
  font-size: 14px;
  left: 220px;
  top: -15px;
}

.bar-graph_item {
  display: inline-block;
  transform: rotate(45deg);
  margin-left: -148px;
  width: 200px;
  text-align: left;
}

.tooltip {
  position: absolute;
  right: -100px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: rotate(90deg);
  text-align: center;
  width: 150px;
  z-index: 100;
  transition: right 0.2s, opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
}

.tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid rgba(0, 0, 0, 0.8) 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 0;
}

.bar-graph_bar:hover > .tooltip {
  opacity: 1;
  right: -110px;
  transform: rotate(90deg);
  transition: right 0.2s, opacity 0.2s;
  visibility: visible;
}

/*End Skill*/

#port--about-sec {
  /* Begin ABOUT section */
  background: url("../img/bg-mt-thor.jpg") no-repeat fixed;
  background-size: cover;
}

#port--project-sec {
  /*Begin PROJECT section*/
  background: url("../img/bg-ski-sweden.jpg") no-repeat fixed;
  background-size: cover;
}

#port--skills-sec {
  background: url("../img/bg-surf-oxnard.jpg") no-repeat fixed;
  background-size: cover;
}

#port--contact-sec {
  background: url("../img/bg-goldengate.jpg") no-repeat fixed;
  background-size: cover;
  text-align: center; 
}

footer {
  padding: 2rem;
  background: #95C8F5;
  text-align: center;
  font-size: 1.5rem; 
}

/* ======= Modal ======== */

#SearchIcon:checked + .search-modal {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}


.search-modal-content {
  position: relative;
  width: 700px;
  height: 300px;
  background: #fff;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.search-modal-content i {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.search-modal-content .search-modal-dw {
  display: none;
  position: absolute;
  bottom: 20px;
  color: blue;
  left: 50%;
  transform: translateX(-50%);
}

.search-modal-dw.first {
  display: block;
}

.search-modal-text {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}