* {
  box-sizing: border-box; 
}

html {
  font-size: 10px;
  font-family: Georgia, serif; 
}

strong {
  font-weight: bold;
}

/* Begin menu section */

.name {
  position: absolute;
  left: 20px;
  bottom: 18px;
  color: #5F666B;
  font-size: 18px;
}


.main-menu {
  background-color: #95C8F5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  border-bottom: 7px solid #44A1F2;
  z-index: 1000;
}

.menu-item {
  background: none;
  border: none;
  display: inline-block;
  text-align: center;
}

.menu-item a {
  text-decoration: none;
  display: inline-block;
  width: 130px;
  background-color: transparent;
  padding: 10px 10px 20px 10px;
  margin: 0 0 -1px 0px;
  transition: all 0.2s;
}

.menu-item a:hover {
  font-weight: 400;
  background-color: #44A1F2;
  transition: all 0.2s;
}

.menu-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  font-size: 2rem;
  font-weight: 300;
}

.search {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 18px;
}

#SearchField {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 185px;
}

#SearchField:focus {
  outline: none;
}

.search-field {
  position: absolute;
  margin-top: 8px;
  margin-left: -185px;
  font-size: 14px;
  transition: margin-top 0.2s, font-size 0.2s;
  color: #64798C;
}

.search-icon-label i {
  color: #64798C;
  margin-left: 10px;
  font-size: 20px;
  border: 1px solid #64798C;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

#SearchIcon {
  display: none;
}

#SearchField:focus + label,
#SearchField:valid + label {
  margin-top: -12px;
  margin-left: -185px;
  font-size: 12px;
  color: #fff;
  transition: margin-top 0.5s, font-size 0.5s;
}

/* Begin Content section */
.section--title {
    text-align: center;
    font-size: 7rem;
    font-weight: 100;
    color: #3E4651; 
}

#port--about-sec {
  /* Begin ABOUT section */
  background: url("../img/bg-mt-thor.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

#port--project-sec {
  /*Begin PROJECT section*/
  background: url("../img/bg-ski-sweden.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

#port--skills-sec {
  background: url("../img/bg-surf-oxnard.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

#port--contact-sec {
  background: url("../img/bg-goldengate.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
  text-align: center; 
}

.section--title {
	position: relative;
	top: 25vh;
}

.section-text {
    position: relative;
	top: 35vh;
}

.section-text p {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100; 
}

footer {
  padding: 2rem;
  background: #95C8F5;
  text-align: center;
  font-size: 1.5rem; 
}

/* ======= Modal ======== */

#SearchIcon:checked + .search-modal {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}


.search-modal-content {
  position: relative;
  width: 700px;
  height: 300px;
  background: #fff;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.search-modal-content i {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.search-modal-content .search-modal-dw {
  display: none;
  position: absolute;
  bottom: 20px;
  color: blue;
  left: 50%;
  transform: translateX(-50%);
}

.search-modal-dw.first {
  display: block;
}

.search-modal-text {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}